.header {
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.1s ease;

  &.scrolled {
    background-color: white;
  }

  @media only screen and (max-width: 1024px) {
    padding: 0 20px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  > span {
    font: 600 24px/100% var(--font-family);
  }
}

.navList {
  display: flex;
  align-items: center;
  gap: 24px;

  > li {
    display: flex;
    align-items: center;
    gap: 24px;
    a {
      text-decoration: none;
      font: 400 14px/26px var(--font-family);
      color: #18191c;
    }

    span {
      width: 6px;
      height: 6px;
      border-radius: 50px;
      background-color: #1f2937;
      flex-shrink: 0;
    }
  }
}

.firstNavItem {
  border: 1px solid #e6e6e6;
  border-radius: 30px;
  line-height: 100%;
  width: 84px;
  height: 32px;
  display: grid;
  place-items: center;
}

.desktopNav,
.desktopBtn {
  @media only screen and (max-width: 800px) {
    display: none;
  }
}

.mobileMenuIcon {
  cursor: pointer;
  display: flex;
  align-items: center;

  @media only screen and (min-width: 801px) {
    display: none;
  }
}

.mobileNav {
  display: none;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  background-color: white;
}
.mobileNav.open {
  display: flex;

  .navList {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;

    li {
      flex-direction: row;
      align-items: center;

      a {
        font: 400 14px/26px var(--font-family);
        color: #18191c;

        &.firstNavItem {
          border: none;
        }
      }

      span {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .header {
    display: grid;
    grid-template-areas:
      "logo toggle"
      "nav nav";
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 20px;
    padding: 20px;
    height: fit-content;

    &:has(.open) {
      background-color: #ffffff;
    }
  }

  .logo {
    grid-area: logo;
    justify-self: start;
  }

  .mobileMenuIcon {
    grid-area: toggle;
    justify-self: end;
  }

  .mobileNav {
    grid-area: nav;
    width: 100%;
  }
}
